@tailwind base;

	


/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--cornflowerblue) var(--rebeccapurple);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 15px;
  }
  
  *::-webkit-scrollbar-track {
	background: var(--rebeccapurple);
	border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: var(--cornflowerblue);
	border-radius: 14px;
	border: 3px solid var(--rebeccapurple);
  }

@tailwind components;
@tailwind utilities;

body {
    background: #141414;
}


h1, h2 {
	font-size: 2rem;
	color: yellow;
}

 

 button {
	color: yellow;
 }

 a, p, span, label {
	color: white;
 }

.row {
	overflow-x: auto;
	overflow-y: hidden;
	flex-wrap: nowrap;
	padding-top: 2rem;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

